.App {
  background-color: rgba(0, 0, 0, 0.981);
  color: white;
}
* {
  font-family: 'Poppins', sans-serif;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  text-decoration: none;
  color: rgb(233, 239, 225);
  margin-right: 10px;
  padding: 10px;
  font-size: 30px;
  margin-top: -60px;
}

a:hover {
  color: rgb(226, 226, 155);
}

button{
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 10px;
  height: 100px;
  width: auto;
  margin-top: 60px;
  font-size: 20px;
}

button:hover{
  background-color: rgb(226, 226, 155);
  cursor: pointer;
}

.shoes{
  display: flex;
  padding: 10px;
  margin: 40px;
  gap: 40px;
}

.title {
  margin-left: 40px;
  padding: 30px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgb(113, 101, 101);
  font-size: 50px;
}

.all-shoes {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-top: 10px;
}

.nike-img {
  display: flex;
  justify-content: flex-start;
  margin-left: 60px;
}

#shoe-content {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

#shoe-content:hover{
  color:rgb(226, 226, 155);
}

#price{
  line-height: 35px;
  margin-top: 80px;
}

#name{
  margin-top: 80px;
}

.receipt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  font-size: 30px;
  line-height: 5px;
  width: auto;
}

#cart{
  margin-left: 20px;
  font-size: 40px;
  margin-top: -20px;
}

footer{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}


#btn-submit{
  display: flex;
  justify-content: center;
  width: 80px;
  height: 35px;
  text-align: center;
  margin-left: 10px;
  margin-top: -3px;
}

input {
  margin-left: 10px;
  width: 600px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

.search-input {
  display: flex;
  justify-content: center;
  margin: 40px;
}

#collection {
  margin-left: 100px;
  padding: 15px;
  font-size: 50px;
}

.social {
  display: flex;
  gap: 10px;
  line-height: 0px;
}

.home-shoes {
  width: 300px;
  border-radius: 10px;
}

.home {
  display: flex;
  /* justify-content: space-around; */
  margin: 10px;
  padding: 20px;
  justify-content: center;
}

.shoe-name {
  display: flex;
  gap: 160px;
  justify-content: center;
  font-size: 30px;
}

#total-price {
  color:rgb(248, 248, 112);
}


#clear-btn {
  display: absolute;
  margin-left: 5px;
  margin-top: 10px;
  font-size: 25px;
}

.shoe-receipt {
  display: flex;
  gap: 40px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgba(239, 239, 239, 0.081);
  border-radius: 10px;

}

.price-clearbtn{
  display: flex;
  justify-content: space-between;
}