.App {
  background-color: rgba(130, 126, 126, 0.981);
  color: white;
}
* {
  font-family: "Poppins", sans-serif;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  text-decoration: none;
  color: rgb(233, 239, 225);
  margin-right: 10px;
  padding: 10px;
  font-size: 30px;
  margin-top: -60px;
}

a:hover {
  color: rgb(226, 226, 155);
}

button {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 10px;
  height: 100px;
  width: auto;
  margin-top: 60px;
  font-size: 20px;
}

button:hover {
  background-color: rgb(226, 226, 155);
  cursor: pointer;
}

.title {
  margin-left: 40px;
  padding: 30px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgb(113, 101, 101);
  font-size: 40px;
}

.nike-img {
  display: flex;
  justify-content: flex-start;
  margin-left: 60px;
}

.shoes {
  display: flex;
  padding: 10px;
  margin: 40px;
  align-items: center;
  gap: 10px;
}

.all-shoes {
  border-radius: 15px;
  width: auto;
  height: 200px;
  padding: 10px;
  margin-left: auto;
}

#shoe-content {
  width: 500px;
  margin-left: auto;
  margin-right: 10px;
}

#shoe-content:hover {
  color: rgb(226, 226, 155);
}

#price{
  line-height: 35px;
  margin-top: 80px;
  font-weight: bold;
  margin-left: auto;
}

#name{
  margin-top: 80px;
} 

#cart{
  font-size: 24px;
  margin-left: 70px;
}

#shoe-not-found{
  margin-left: 40%;
  font-size: 25px;
  
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

#btn-submit {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 35px;
  text-align: center;
  margin-left: 10px;
  margin-top: -3px;
  font-size: 15px;
}

#addcart-btn {
  font-size: 15px;
  height: 55px;
  margin-left: auto;
}

#addcart-btn:hover {
  font-weight: bold;
}

input {
  margin-left: 10px;
  width: 600px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

.search-input {
  display: flex;
  justify-content: center;
  margin: 40px;
}

#collection {
  margin-left: 100px;
  padding: 15px;
  font-size: 40px;
}

.social {
  display: flex;
  gap: 10px;
  line-height: 0px;
}

.home-shoes {
  width: 400px;
  border-radius: 10px;
}

.home {
  display: flex;
  /* justify-content: space-around; */
  margin: 10px;
  padding: 20px;
  justify-content: center;
}

.shoe-name {
  display: flex;
  gap: 160px;
  justify-content: center;
  font-size: 20px;
}

#total-price {
  color: rgb(248, 248, 112);
  font-size: 30px;
}

#clear-btn {
  display: absolute;
  margin-left: 5px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
}

.shoe-receipt {
  display: flex;
  gap: 40px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgba(239, 239, 239, 0.081);
  border-radius: 10px;
  font-size: 25px;
}

.price-clearbtn {
  display: flex;
  justify-content: space-around;
}
